body {margin-top:0px;
      font-size: 16px;
      font-family: 'Roboto', 'Arial', sans-serif;
      line-height: 1.1;
     }

h1 {font-weight: bold;
  font-family: 'Roboto', 'Arial', sans-serif;
  line-height: 1.1;
}

p {margin:0;
}

ul {margin:0;
  padding:0;
  list-style-type: none;
}

a {text-decoration:none;}

.header {
background-color: #eeeeee;
}

h1 {margin-bottom:0px;}

.container {
  width:1100px;
  margin-left:auto;
  margin-right: auto;
  }

.header-wrap {
margin-bottom:40px;

}

.logo {float:left;
  width:165px;
  height: 75px;
}

.logo:active {
  opacity:0.4;
}

.navigation {
margin-left:200px;
font-size:0px;
float:left;
margin-top:25px;
}

.navigation li {
display: inline-block;
font-size:16px;
  min-width:90px;
  margin-right: 20px;
  text-align: center;

}

.navigation a {
  line-height: 50px;
    color:black;
  font-weight: bold;
  padding:20px;
}

.navigation a:hover {
  color:red;
}

.navigation a:active {
  color:#afafaf;
}


.navigation  .active {background:#DCDCDC;
opacity:0.5;
border-radius: 5px;
pointer-events: none;

position:relative;
}



.navigation  .active a::after {
  content: "";
  position:absolute;
  background:red;
  height:2px;
  top:49px;
  left:20px;
  right:20px;
}

.navigation li:hover {

  border-radius:5px;
}

.bin {
float: right;
 margin-top:40px;
}

.bin a::before {content:'';
position:absolute;
left:0px;
width:15px;
height:15px;
background: #eeeeee url('../img/cart-icon.png') no-repeat;
}

.bin a {padding: 20px 20px 20px 30px;
    position:relative;
  color:black;
  font-weight: bold;
  text-decoration:none;
  text-transform: uppercase;
}

.bin a:hover {
  color:red;
}

.about-us {
  float:left;
  width:390px;

}



.benefits {display: block;
  margin-bottom:20px;
  font-size:55px;
}

.header-bottom .benefits-description {
  margin-bottom:30px;
}

a.button {
  display:block;
  text-align:center;
  width:240px;
  height:50px;
  background-color: #fb565a;
  border-radius: 4px;
  color:white;
  line-height: 50px;
}

a.button:hover {
  background:#e74246;
}

a.button:active {
  background:#d7373b;
}

.main {padding-top: 30px;
}

.services-main {
  float:left;
  width:300px;
  min-height:350px;
  margin-right:100px;
}

.services-img {line-height: 0;
  margin-bottom:40px;}


.services {padding-bottom:60px;
    border-bottom: 2px solid #D3D3D3;
}

.services-main:last-child {float:right;
  margin-right: 0px;
}

.services-name {display:block;
  font-size:24px;
  font-weight: bold;
margin-bottom:30px;
}

.services-main .button {
  width:160px;
  text-transform: uppercase;
}

.service-description {
  text-align: left;
  margin-bottom:40px;}



.clearfix::after {content:"";
display: table;
  clear:both;}

a.green {
    background-color:#00ca74;
  }

a.green:hover {background-color:#00bc6c;}

a.green:active  {
    background:#00aa62;
  }


a.yellow {
  background-color:#efc84a;
}

a.yellow:hover {background-color:#eab534;}

  .info {
  float:left;
  width:690px;
  min-height:400px;
}

a.yellow:active {
  background:#e5a722;
}


.info-title {display: block;
  font-size:45px;
  margin-bottom:20px;
}

.info-description {
  line-height: 24px;
margin-bottom:60px;}


  .can-be-ordered-title {display:block;
      line-height: 24px;
      text-transform: uppercase;
      margin-bottom: 20px;
  }

  .can-be-ordered{margin-left:40px;}


    .can-be-ordered li { color:#283136;
    margin-bottom:20px;
}

.our-guaranatee {
  float:right;
  width:360px;
  min-height:400px;
    }



  .logo-2004 {line-height: 0;
    margin-bottom:40px;}



  .our-customers {
    padding:50px 0;
    text-align: center;
    font-size:0px;

}

.customer  {
    display:inline-block;
    width:300px;
    height:100px;
    margin-right:50px;
    }



 .our-customers .glukhanko {
      background: white url('../img/logo-1.png') center no-repeat;
  }

  .our-customers .academy {
    background: white url('../img/logo-4.png') center no-repeat;
    opacity:0.15;
  }

  .our-customers .borodinski{
    background: white url('../img/logo-2.png') center no-repeat;

  }

  .our-customers .academy:hover {
    background: white url('../img/logo-4.png') center no-repeat;
    opacity:1;
  }



.social {
  float:left;
 min-width:300px;
  margin-left:100px;
padding-top:5px;
}

.social a {display:inline-block;
  }

  .social-btn:hover {
    background-color:#e74246;
  }

  .social-btn:active {
    background-color:#d7373b;
  }

.social .social-btn {
font-size:0px;
background: #D3D3D3 url("../img/social.png") no-repeat center;
vertical-align: top;
width:75px;
height:75px;
border-radius: 50%;
}

.social-btn:hover {
  background-color:#e74246;
}

.social-btn:active {
  background-color:#d7373b;
}


.social .vk {background-position: 25px -140px;
}



.social .fb {background-position: 25px 25px;
}


.social .insta {background-position:25px -60px;
}




footer { padding: 20px 0;
 }

.footer-info {width:500px;
  float:left;
  margin-left:130px;
}


.footer-info-title {
  font-size: 36px;
}

  .footer-info-description {
  color:#444444;
  }



 .header-title {font-size: 55px;
   text-align: center;
   font-weight: normal;
   margin:0;
  padding-bottom: 50px;
  padding-top:50px;
 }

 .filters {
   width:300px;
   min-height:2100px;
   float:left;
 }

 .price {margin-bottom:60px;}

 .grid {margin-bottom:55px;}

.features {margin-bottom:40px;}

.filters  .form-item {margin-left: 40px;
margin-bottom:20px;
}



input[type="radio"] {transform:scale(1.3);
}

input[type="checkbox"] {transform:scale(1.3);
}


input[type="submit"] {display:block;
width:260px;
padding:10px 15px;
background:#eeeeee;
border: none;
border-radius: 5px;
}

.filter-name {
  margin-bottom:20px;

}

   .sort-by .filter-name {float:left;
     font-size:18px;
     font-weight:bold;

   }

   .sort-by-article a {display: inline-block;
   color: #b2b2b2;
  margin-right: 20px;
  font-size:16px;
   }

  .sort-by .sort-active {color:black;}

.sort-by-article { font-size:0px;
  float:right;
}

  .triangle {
    font-size:16px;
  }

   .sort-by {
    margin-bottom: 35px;
   }


  .main-inner-content {
    float:right;
    width:770px;
  }

  .examples {
    width:770px;
    float:right;
    font-size:0px;
  }

  .web-sites:hover ::before {
    background:white url('../img/browserdark.jpg') no-repeat;
  }




   .web-sites {
     display: inline-block;
     font-size: 16px;
     height:615px;
     width:360px;
     margin-right:46px;
     vertical-align: top;
     margin-bottom:20px;

     background:red;
       }

    .web-sites-img::before { content: "";
    display:block;
    width:360px;
    height:40px;
    background: white url('../img/browserwhite.jpg') no-repeat;
    line-height: 0px;
    }

  .selected .web-sites-img::before { content: "";
  display:block;
  width:360px;
  height:40px;

  }



.selected {
  position:relative;
}



  .layer {display:none;
}

.selected:hover .layer {display:block;
 background:#DCDCDC;
position:absolute;
top: 385px;
left:0px;
height:230px;
width:360px;
}


.web-site-name {padding-top:20px;
text-align: center;
margin-bottom:25px;
}

.description-sedona {
  display: block;
  text-align: center;
margin-bottom:25px;}

.web-sites .buy {
  display:block;
  width: 80px;
  height: 20px;
  background:#fb565a;
padding: 15px 60px;
text-align: center;
margin-left:auto;
margin-right: auto;
border-radius: 5px;
color: white;}

.web-sites:nth-child(2n) {margin-right: 0px;}

.examples {margin-bottom:20px;}

 .pages {
   float:right;
   width:770px;
 height:100px;
margin-bottom: 20px;}

.pages li{display: inline-block;
  vertical-align: top;
  min-width:50px;
  height: 50px;
  background-color:#eeeeee;
  margin-right: 10px;
  text-align: center;
  border-radius: 5px;
  }


.pages a {
    color:black;
  line-height: 50px;
  font-weight: bold;
  padding:15px;
}

.pages span {
  line-height: 50px;
}

.pages .next {
  padding-left: 75px;
padding-right: 75px;}

  .map {margin-left: auto;
    margin-right: auto;
  }


.popup-contact {display: none ;
  position:absolute;
    left:50%;
  margin-left:-480px;
  top:275px;
  width:760px;
  height:430px;
  background:white;
  padding: 75px 100px 85px;
  box-shadow: 0px 30px 50px rgba(0,0,0, 0.7);
  color:black;
}

.popup-contact-show {
  display:block;
}




.popup-contact-close {position:absolute;
    right:70px;;
    width:21px;
    height:21px;
    cursor:pointer;
  font-size: 0px;
  background: white url("../img/cross.png")  center;


}

form.popup-form {

}

h2 {
  padding:0;
  margin:0;
}

.popup-contact h2 {
  margin-bottom: 45px;
  font-size: 45px;
}

form.popup-form label{
  font-weight: bold;
  line-height:18px;

}

.top input[type="text"] {
  width:100%;

border:2px solid #d7dcde;
padding:15px 13px;
border-radius:5px;
}

.left-column {float:left;
width:354px;
margin-right: 10px;
}

.right-column {float:right;
width:354px;}

.top {
  margin-bottom: 35px;
}

.bottom textarea{
  resize: none;
  width:100%;
  min-height:115px;
  border:2px solid #d7dcde;
  border-radius:5px;
  padding:13px 13px;
    }

    .bottom {
      margin-bottom:47px;
    }

    .popup-form input[type="submit"]
    {background:#fb565a;
      color:white;
  height:50px;  }



.popup-form input[type="submit"]:hover {
  background:#e74246;
}

.popup-form input[type="submit"]:active {
  background:#d7373b;
}

 {

}
